parameters:

    database_host:      '%env(MYSQL_HOST)%'
    database_port:      '%env(MYSQL_PORT)%'
    database_name:      '%env(MYSQL_DATABASE)%'
    database_user:      '%env(MYSQL_USER)%'
    database_password:  '%env(MYSQL_PASSWORD)%'

    mailer_transport:   "smtp"
    mailer_host:       '%env(MAILER_HOST)%'
    mailer_user:       '%env(MAILER_USER)%'
    mailer_password:   '%env(MAILER_PASSWORD)%'
    mailer_port:       '%env(MAILER_PORT)%'
    mailer_encryption: 'ssl'
    mailer_auth_mode:  'login'

    # A secret key that's used to generate certain security-related tokens
    secret:            '%env(SECRET_KEY)%'
