parameters:
    database_host:      '%env(DB_HOST)%'
    database_port:      '%env(DB_PORT)%'
    database_name:      '%env(DB_DATABASE)%'
    database_user:      '%env(DB_USER)%'
    database_password:  '%env(DB_PASSWORD)%'

    mailer_transport:   "smtp"
    mailer_host:       '%env(MAILER_HOST)%'
    mailer_user:       '%env(MAILER_USER)%'
    mailer_password:   '%env(MAILER_PASSWORD)%'
    mailer_port:       '%env(MAILER_PORT)%'
    mailer_encryption: "ssl"
    mailer_auth_mode:  "login"

    # A secret key that's used to generate certain security-related tokens
    secret:            '%env(SECRET_KEY)%'
